<div class="about row">
    <div class="content col-sm-7">
        <h1>אודות</h1>
        <p>נושמת אירועים משנת 1998,מלווה אנשים שעומדים לפני אירוע<br>
        חשוב בחיים ורוצים עזרה צמודה,החל משלב הרעיון ועד לסיומו <br>
        המוצלח של האירוע<br>
        </p>
        <P>
        בעזרת תכנון מדויק ומקצועי,יצירתיות רבה ויכולת למצוא את<br>
        הפתרונות המתאימים בזמן אמת,תוכלו להקדיש את כל כולכם<br>
        להנות ולשמוח באירוע<br>
        </P>
        <p>
        אני כאן בשבילכם, להבין את החלום, לדייק אותו,לעזור לכם לבחור<br>
        נכון ולרקום ממנו אירוע שיהיה בדיוק מה שדמיינתם,ואולי אפילו<br>
        קצת יותר<br>
        </p>
        <p>יערה.</p>
    </div>
    <div class="col-sm-5">
        <img class="img-fluid" src="assets/aboutImage.jpg">
    </div>
</div>

