
<div class="contant-us" style="width:99.5vw">
    <h1>צור קשר</h1>
    <div class="row" style="direction:rtl">
        <form class="col-sm-6">
            <div class="form-group" style="padding:15px">
                <span class="form-control">{{date|date}}</span>
            </div>
            <div class="form-group" style="padding:15px">
                <input type="text" class="form-control" placeholder="שם"  pattern="^[a-zA-Z]+$">
            </div>
            <div class="form-group" style="padding:15px">
                <input type="phone" class="form-control" placeholder="טלפון">
            </div>
            <div class="form-group" style="padding:15px">
                <input type="email" class="form-control" placeholder="אימייל">
            </div>
            <div class="form-group" style="padding:15px">
                <div class="mb-3">
                    <textarea class="form-control" placeholder="הודעה"></textarea>
                  </div>
            </div>
            <div style="text-align:left;padding:15px">
                <button class="btn" style="border:2px solid #5f4500;color:#5f4500">שלח</button>
            </div>
        </form>
        <div class="col-sm-6" style="text-align:center">
            <h2>יערה תור ירושלמי</h2>
            <h2>0505444185</h2>
            <h2>Yaarator@gmail.com</h2>
            <h2>גני יהודה, סביון</h2>
        </div>
    </div>
</div>

